fastapi>=0.115.12
uvicorn>=0.34.0
aiofiles>=24.1.0
pydantic>=2.10.6
python-dotenv>=1.0.0
requests>=2.31.0
numpy>=1.24.4
colorama>=0.4.6
termcolor>=2.4.0
tqdm>4
openai
httpx>=0.27,<0.29
sniffio
distro>=1.7.0,<2
anyio>=3.5.0,<5
jiter>=0.4.0,<1
beautifulsoup4
markdownify>=1.1.0
pypdf>=5.4.0
ipython>=8.13.0
langid>=1.1.6
selenium>=4.27.1
selenium-stealth>=1.0.6
fake-useragent>=2.1.0
undetected-chromedriver>=3.5.5
chromedriver-autoinstaller>=0.6.4
ordered-set
torch>=2.4.1
transformers>=4.46.3
sentencepiece>=0.2.0
scipy>=1.9.3
protobuf>=3.20.3
adaptive-classifier>=0.0.10
certifi>=2025.4.26
setuptools>=75.6.0
sacremoses
safetensors
scikit-learn
huggingface-hub
tokenizers
rich
emoji
nltk
regex
pillow
aiofiles
beautifulsoup4
colorama
fastapi
httpx
huggingface-hub
langid
markdownify
openai
pydantic
python-dotenv
requests
termcolor
tqdm
uvicorn
adaptive-classifier
aiofiles
beautifulsoup4
colorama
configparser
fake-useragent
fastapi
httpx
huggingface-hub
langid
markdownify
numpy
openai
ordered-set
pydantic
pypdf
python-dotenv
requests
scipy
selenium
selenium-stealth
sentencepiece
termcolor
tqdm
transformers
uvicorn
flask
jinja2
pillow
